@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.SITE_NAME  - Guest Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>


</head>
<body class="gray-bg">
    <input type="hidden" id="auth_api_url" value="@ViewBag.AUTH_SERVICE_API" />
    <div id="app">
        <guest-login-component login-url='@Url.Action("Login", "Account")'
                               index-url='@(ViewBag.ReturnUrl ?? Url.Action("Index","Dashboard"))'
                               login-confirm="@Url.Action("LoginConfirmed", "Account")">
        </guest-login-component>
    </div>
    <script src='@Url.Content("~/bundle/account.js")' asp-append-version="true"></script>
</body>


</html>
